*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #efefef;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

svg {
  stroke: currentcolor;
  fill: currentcolor;
  stroke-width: 0;
  height: 30;
  width: 30;
}

img {
  max-width: 100%;
}

main {
  margin-top: 56px;
}

.header-checkout {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #1ba8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  height: 56px;
  padding: 0px 8px;
}

.header-checkout .btn-back {
  min-width: 40px;
  height: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  z-index: 2;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  background: 0px center;
  outline: 0px;
}

.header-checkout .title {
  color: white;
  font-size: 17px;
  text-align: center;
  width: 100%;
  position: absolute;
}

.checkout-progress-bar {
  text-align: center;
  width: 100%;
  position: relative;
  top: -1px;
  background: #1ba8ff;
  padding: 1px 0px 10px;
}

.checkout-progress-bar .step {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

.checkout-progress-bar .step__icon {
  width: 27px;
  height: 27px;
  margin-right: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.checkout-progress-bar .step img.active {
  opacity: 1;
}

.checkout-progress-bar .step__strike {
  width: 18px;
  margin-right: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout-progress-bar .step__strike i {
  display: inline-block;
  font-style: normal;
  width: 5px;
  height: 1px;
  margin-right: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.product {
  position: relative;
  background: white;
  padding: 16px;
}

.product .checkout-confirm__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product .checkout-confirm__multis div.checkout-confirm__multi__title {
  padding-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}

.product .checkout-confirm__multis div.checkout-confirm__multi__title h3 {
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

.product .checkout-confirm-single__inner {
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
  -o-border-image: initial;
     border-image: initial;
  padding: 12px 16px;
  border-radius: 4px;
}

.product .checkout-confirm__est-time {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
  color: #009900;
}

.product .checkout-confirm-single__items {
  border-bottom: 1px solid #eeeeee;
  padding: 0px 0px 15px;
  margin: 0px 0px 15px;
  list-style: none;
}

.product .checkout-confirm-single__items li {
  margin-top: 16px;
}

.product .checkout-confirm__img {
  width: 50px;
  margin-right: 10px;
  display: inline-block;
}

.product .checkout-confirm__content {
  width: calc(100% - 60px);
}

.product .checkout-confirm__name {
  display: block;
  line-height: 18px;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #242424;
  font-size: 14px;
  opacity: 0.8;
  margin: 0px 0px 10px;
  overflow: hidden !important;
}

.product .checkout-confirm__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 14px;
  color: #242424;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0px;
}

.product .checkout-confirm__prices b {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.product .checkout-confirm__shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0px;
}

.product .checkout-confirm__shipping-name {
  font-size: 14px;
  color: #242424;
  display: inline-block;
  vertical-align: middle;
}

.product .checkout-confirm__shipping-prices {
  font-size: 14px;
  color: #242424;
  display: inline-block;
  margin-right: 3px;
  font-weight: 500;
}

.product .checkout-confirm__link {
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 15px;
  color: #0d5cb6;
  font-size: 14px;
  text-decoration: none;
}

.checkout-confirm .address {
  padding: 16px;
  background: white;
  margin: 8px 0px;
}

.checkout-confirm .address__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-weight: normal;
  padding: 0px;
  margin: 0px 0px 15px;
}

.checkout-confirm .address__title span {
  font-size: 14px;
  display: inline-block;
  color: #242424;
  font-weight: 500;
}

.checkout-confirm .address__title a {
  display: inline-block;
  color: #0d5cb6;
  font-size: 14px;
  text-decoration: none;
}

.checkout-confirm .address__infor {
  font-weight: 500;
  margin: 0px 0px 5px;
}

.checkout-confirm .address__infor span {
  font-size: 14px;
  color: #242424;
  display: inline-block;
}

.checkout-confirm .address__address span {
  font-size: 14px;
  color: #242424;
  display: inline-block;
}

.checkout-confirm .shipping {
  position: relative;
  background: white;
  padding: 16px;
  margin: 8px 0px;
}

.checkout-confirm .shipping__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

.checkout-confirm .shipping__title span {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 10px;
}

.checkout-confirm .shipping__link {
  color: #0d5cb6;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
}

.checkout-confirm .shipping__time {
  font-size: 15px;
  color: #009900;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}

.checkout-confirm .shipping__name {
  font-size: 14px;
  color: #242424;
}

.checkout-confirm .summarys {
  margin-bottom: 120px;
  background: white;
  padding: 15px;
}

.checkout-confirm .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0px 0px 20px;
}

.checkout-confirm .summary__text, .checkout-confirm .summary__value {
  font-size: 14px;
  color: #242424;
  display: inline-block;
}

.checkout-confirm .primary {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px -2px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px -2px 5px 0px;
  background: white;
  padding: 16px;
}

.checkout-confirm .primary-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0px 0px 16px;
}

.checkout-confirm .primary__text {
  font-size: 14px;
  display: inline-block;
  color: #242424;
}

.checkout-confirm .primary__value {
  color: #ff424e;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
}

.checkout-confirm .primary__btn {
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  display: block;
  width: 100%;
  background: #ff424e;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  padding: 12px 0px;
  border-radius: 2px;
  outline: none;
}

.payment {
  position: relative;
  background: white;
  padding: 16px;
  margin: 8px 0px;
}

.payment h3 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 10px;
}

.payment .payment-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 10px 0px 0px;
}

.payment .payment-name {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  color: #242424;
}

.payment .payment__link {
  position: absolute;
  right: 15px;
  top: 12px;
  color: #0d5cb6;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
/*# sourceMappingURL=confirm.css.map */