*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #efefef;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

svg {
  stroke: currentcolor;
  fill: currentcolor;
  stroke-width: 0;
  height: 30;
  width: 30;
}

img {
  max-width: 100%;
}

main {
  margin-top: 56px;
}

.header-checkout {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #1ba8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  padding: 0px 8px;
}

.header-checkout .btn-back {
  min-width: 40px;
  height: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  background: 0px center;
  outline: 0px;
}

.header-checkout .title {
  color: white;
  font-size: 17px;
  text-align: center;
  width: 100%;
  position: absolute;
}

.header-progress-bar {
  text-align: center;
  width: 100%;
  position: relative;
  top: -1px;
  background: #1ba8ff;
  padding: 1px 0px 10px;
}

.header-progress-bar .step {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-progress-bar .step__icon {
  width: 27px;
  height: 27px;
  margin-right: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-progress-bar .step img.active {
  opacity: 1;
}

.header-progress-bar .step__strike {
  width: 18px;
  margin-right: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-progress-bar .step__strike i {
  display: inline-block;
  font-style: normal;
  width: 5px;
  height: 1px;
  margin-right: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.payment-section .existing-address {
  margin-bottom: 8px;
  padding: 16px;
  background: white;
}

.payment-section .existing-address__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: normal;
  padding: 0px;
  margin: 0px 0px 15px;
}

.payment-section .existing-address span {
  font-size: 14px;
  color: #242424;
  display: inline-block;
  font-weight: 500;
}

.payment-section .existing-address a {
  display: inline-block;
  color: #0d5cb6;
  font-size: 14px;
  text-decoration: none;
}

.payment-section .existing-address__address span {
  font-weight: unset;
  margin-top: -8px;
}

.payment-section .summarys {
  background: white;
  padding: 15px;
  margin: 8px 0px 120px;
}

.payment-section .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px;
}

.payment-section .summary__text, .payment-section .summary__value {
  font-size: 14px;
  color: #242424;
  display: inline-block;
}

.payment-section .primary {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px -2px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px -2px 5px 0px;
  background: white;
  padding: 16px;
}

.payment-section .primary-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 16px;
}

.payment-section .primary__btn {
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  display: block;
  width: 100%;
  background: #ff424e;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  padding: 12px 0px;
  border-radius: 2px;
  outline: none;
}

.shippings-section {
  background: white;
  padding: 15px 0px 15px 15px;
}

.shippings-section .title {
  font-size: 14px;
  font-weight: 500;
  margin: 0px 0px 20px;
}

.shippings-section .shippings {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.shippings-section .shipping {
  margin-bottom: 15px;
  position: relative;
}

.shippings-section .shipping:last-child {
  margin-bottom: 0px;
}

.shippings-section .shipping:last-child .shipping-inner {
  padding-bottom: 0px;
  border-bottom: none;
}

.radio-shippings {
  display: block;
  margin-right: 15px;
  width: 100%;
}

.radio-shippings input[type="radio"] {
  position: absolute;
  height: 1px;
  width: 1px;
  visibility: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  opacity: 0;
}

.radio-shippings .radio-fake {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  color: #0d5cb6;
  border-width: 1px;
  border-style: solid;
  border-color: #787878;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 50%;
  margin: 0px 20px 10px 0px;
}

.radio-shippings input[type="radio"]:checked + .radio-fake {
  border-color: #0d5cb6;
}

.radio-shippings .radio-fake::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  background-color: #0d5cb6;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.radio-shippings input[type="radio"]:checked + .radio-fake::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.radio-shippings .shipping__time {
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #009900;
  margin-bottom: 7px;
}

.radio-shippings .shipping__prices {
  font-size: 14px;
  color: #242424;
  display: inline-block;
  margin-right: 3px;
}

.radio-shippings .shipping__name {
  font-size: 14px;
  color: #242424;
  display: inline-block;
  vertical-align: middle;
}

.radio-shippings .shipping-inner {
  display: inline-block;
  width: calc(100% - 50px);
  vertical-align: top;
  padding-bottom: 15px;
  border-bottom: 1px solid #f1f1f1;
}

.orders-sections {
  margin-top: 8px;
  background: white;
  padding: 15px;
}

.orders-sections .orders__inner {
  padding: 12px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 4px;
}

.orders-sections .est-time {
  font-size: 14px;
  font-weight: 500;
  color: #009900;
  margin: 0px 0px 15px;
}

.orders-sections .items {
  margin: 0px 0px 12px;
  padding: 0px 0px 15px;
  list-style: none;
  border-bottom: 1px solid #eeeeee;
}

.orders-sections .item:last-child {
  margin-bottom: 0px;
}

.orders-sections .item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.orders-sections .img {
  width: 50px;
  display: inline-block;
  margin-right: 10px;
}

.orders-sections .content {
  width: calc(100% - 60px);
  padding-left: 10px;
}

.orders-sections .name {
  font-size: 14px;
  display: block;
  line-height: 18px;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #242424;
  opacity: 0.8;
  margin: 0px 0px 10px;
  overflow: hidden !important;
}

.orders-sections .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 14px;
  color: #242424;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
}

.orders-sections .action b {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.orders-sections .shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
}

.orders-sections .shipping__name {
  font-size: 14px;
  color: #242424;
  display: inline-block;
  vertical-align: middle;
}
/*# sourceMappingURL=payment.css.map */